@page
@model ProjectSWP392.Pages.OrderPage.OrderDetailHistory
@{
    ViewData["Title"] = "OrderDetailHistory";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .scrollable-container {
        overflow-x: auto;
    }

    .scrollable-rows {
        display: block;
        max-height: 420px;
        overflow-y: auto;
    }

    .sticky-column {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: white;
        z-index: 1;
    }
</style>

<div class="row mx-4" style="    max-width: 1190px !important;">
    <div class="col-md-8 scrollable-container">
        <div class="scrollable-rows">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.order)
                    {
                        <tr>
                            <td class="sticky-column">@item.ProductName</td>
                            <td>
                                <img src="~/image/@item.ProductImage" alt="@item.ProductName" style="    max-width: 150px;
    max-height: 150px;" />
                            </td>
                            <td>@item.ProductQuantity</td>
                            <td>$@item.ProductPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="    width: 328px;">
            <div class="card-body">
                <h5 class="card-title">User Info</h5>
                <div class="ele-info">
                    <label>Full Name:</label>
                    <p>@Model.user.FullName</p>
                </div>
                <div class="ele-info">
                    <label>Address:</label>
                    <p> @Model.user.Address</p>
                </div>
                <div class="ele-info">
                    <label>Phone:</label>
                    <p>@Model.user.Phone</p>
                </div>
                <hr>
                <h5 class="card-title">Order Total</h5>
                <div class="ele-info">
                    <label>Total Items:</label>
                    <p>@Model.order.Count</p>
                </div>
                <div class="ele-info">
                    <label>Total Price:</label>
                    <p>$@Model.order.Sum(item => item.ProductPrice)</p>
                </div>
            </div>
        </div>
    </div>
</div>
